.navig-site{
    background-color: #2d2d44;
    font-family: iosevka;
    line-height: 1.5;
    height:65px;
}

.navig-site-in{
    display: flex;
    max-width: 1096px;
    min-width: 320px;
    padding: 0 24px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    height: 65px;
}

.navig-site .navig-list{
    display: flex;
    list-style: none;
    width: 1000px;
}

.navig-site .logo-link{
    text-align:center;
    margin-left:144px;
    height:50px;
}

.navig-site .logo{
    border-radius: 100%;
    width: 50px;
    
}

.navig-site .navig-list li{
    margin: 0% 3%
}


.navig-site .navig-list a{
    color:inherit;
    text-decoration: none;
    color:#fcf8e3;
}

.navig-site .navig-list a:hover{
    color:#08c;
}
